name: publish-npm
on:
  push:
    branches:
      - master

jobs:
  publish:
    name: Publish to NPM & GitHub Package Registry
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          ref: master
          persist-credentials: false

      # limit releases to version changes - https://github.com/EndBug/version-check
      - name: Check version changes
        uses: EndBug/version-check@36ff30f37c7deabe56a30caa043d127be658c425 # 2.1.5
        id: version_check
        with:
          # diff the commits rather than commit message for version changes
          diff-search: true

      - name: Version update detected
        if: steps.version_check.outputs.changed == 'true'
        run: |
          echo "Version change found! New version: ${NEW_VERSION} (${TYPE})"
        env:
          NEW_VERSION: ${{ steps.version_check.outputs.version }}
          TYPE: ${{ steps.version_check.outputs.type }}

      - name: Setup .npmrc file for NPM registry
        if: steps.version_check.outputs.changed == 'true'
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: .nvmrc
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        if: steps.version_check.outputs.changed == 'true'
        run: yarn install --immutable

      - name: Publish package to NPM
        if: steps.version_check.outputs.changed == 'true'
        run: npm publish
